<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        displayDetailsOnTestsThatTriggerWarnings="true"
        colors="true"
        bootstrap="tests/bootstrap.php"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="protocol-http">
            <directory>tests/Protocol/http</directory>
        </testsuite>

        <testsuite name="protocol-websocket">
            <directory>tests/Protocol/websocket</directory>
        </testsuite>

        <testsuite name="abstract">
            <directory>tests/Abstract</directory>
        </testsuite>

        <testsuite name="parsers">
            <directory>tests/Parsers</directory>
        </testsuite>

        <testsuite name="core">
            <directory>tests/Core</directory>
        </testsuite>

        <testsuite name="cbor">
            <directory>tests/Cbor</directory>
        </testsuite>

		<testsuite name="curl">
			<directory>tests/Curl</directory>
		</testsuite>

		<testsuite name="utils">
			<directory>tests/Utils</directory>
		</testsuite>

    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="coverage"/>
        </report>
    </coverage>

</phpunit>