<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        displayDetailsOnTestsThatTriggerWarnings="true"
        colors="true"
        bootstrap="tests/bootstrap.php"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="protocol-http">
            <directory>tests/protocol/http</directory>
        </testsuite>

        <testsuite name="protocol-websocket">
            <directory>tests/protocol/websocket</directory>
        </testsuite>

        <testsuite name="abstract">
            <directory>tests/abstract</directory>
        </testsuite>

        <testsuite name="parsers">
            <directory>tests/parsers</directory>
        </testsuite>

    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="coverage"/>
        </report>
    </coverage>

</phpunit>