name: Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
              
    check_and_test:
        runs-on: ubuntu-latest

        steps:

          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: 8.2

          - name: Checkout repository
            uses: actions/checkout@v4
            
          - name: SurrealDB in Github Actions
            uses: welpie21/SurrealDB-Actions@v1.0.0
            with:
              surrealdb_auth: true

          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Cache Composer packages
            id: composer-cache
            uses: actions/cache@v3
            with:
                path: vendor
                key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                restore-keys: |
                    ${{ runner.os }}-php-
                    
          - name: Install dependencies
            run: composer install --no-progress

          - name: Run tests
            run: vendor/bin/phpunit -c phpunit.xml